body {
    background-image: url(https://tenor.com/ru/view/nityanando-gif-19660511);
    background-attachment: fixed;
    background-color: rgba(5, 5, 5, 0.89);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}